
/*SHADOWS - Xoff Yoff Blur Spread Color Inset*/
.shadow{
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 	1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-shadow: 		1px 1px 2px 0px rgba(0, 0, 0, .3);
}

.shadowInner {
  -webkit-box-shadow:	1px 1px 2px 0px rgba(0, 0, 0, .3) inset;
  -moz-box-shadow:		1px 1px 2px 0px rgba(0, 0, 0, .3) inset;
  box-shadow:			1px 1px 2px 0px rgba(0, 0, 0, .3) inset;
}


/*ROUNDED CORNERS*/
.rounded{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.roundedTop {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.roundedBot {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.roundedLeft{
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.roundedRight{
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*TOP TO BOTTOM GRADIENTS - Top Color First*/
.gradient-vert-grey {
  background: #d1d1d1; /* Old browsers - no gradient */
  background: -moz-linear-gradient(top, #ffffff 0%, #999999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#999999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#999999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#999999 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#999999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}

/*LEFT TO RIGHT GRADIENTS - Left Color First*/
.gradient-horz-grey {
  background: #d1d1d1; /* Old browsers - no gradient */
  background: -moz-linear-gradient(left, #ffffff 0%, #999999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#999999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,#999999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,#999999 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%,#999999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=1 ); /* IE6-9 */
}