.wrap.firstclass						{max-width: 100%; margin: 20px 20px 20px 0;padding: 20px;background: rgba(0,0,0,.8);box-shadow: 2px 2px 1px 1px rgba(0,0,0,.2);}
.wrap.firstclass h2, .wrap.firstclass h3{color: #fff;}
.wrap.firstclass p					{color: #fff;}
.wrap.firstclass label				{color: #fff;display: block;margin:20px 0;}
.wrap.firstclass hr					{margin: 20px 0;width: 75%;}

.wrap.firstclass select				{width:200px;}
.wrap.firstclass input[type=text]	 {width:200px;}

.wrap.firstclass .visible			{display:block;}
.wrap.firstclass .hidden			{display:none;}

.wrap.firstclass .step				{padding:20px;}

.wrap.firstclass .optionsBox		{background:#fff; box-shadow:0 0 1px 1px rgba(0,0,0,.6) inset; width:auto; max-width:300px; min-height:100px;margin:10px 0;}
.optionsBox .listOption			{cursor:pointer;margin: 3px;display: inline-block;padding: 3px 24px 3px 3px;background: #2ea2cc;border-color: #0074a2;-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);color: #fff;text-decoration: none;position:relative;}
.optionsBox .listOption:hover	{opacity:0.6;}
.optionsBox .listOption:after	{content: 'x';position: absolute;width: 20px;height: 100%;top: 0px;background: #ccc;right: 0px;text-align: center;line-height: 22px;cursor: pointer;color:#666;}
