/* WordPress Presentational Styles*/
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left; margin:0 15px 5px 0; }
.alignright { float:right; margin:0 0 5px 15px; }
.wp-caption { border:none; text-align:center; background:transparent; padding:10px; margin:10px }
/* WordPress Presentational Styles*/

.left {float:left}
.right {float:right}
.clear {clear:both}

* {margin:0; padding:0;}
html, body {height:100%}

body{font-family: 'Roboto', sans-serif;	font-weight:300;	font-size: 14px;	line-height: 20px;	color: #898989;}

h1 {font-family: 'Roboto', sans-serif; margin-bottom:25px; font-size:45px; line-height:50px; font-weight:300; font-style:italic; text-transform:uppercase;}
h2 {font-family: 'Roboto Slab', serif; margin-bottom:10px; font-size:34px; line-height:36px; font-weight:700;}
h3 {font-family: 'Roboto Slab', serif; margin-bottom:8px; font-size:16px; line-height:25px; font-weight:400; text-transform:uppercase; letter-spacing:1px;}

p{margin-bottom:14px;}

a, a img {outline:none; border:none; text-decoration:none;}
a:hover, a:active {text-decoration:none;}

/*******************************************************************************
THEME MOD STYLES
*******************************************************************************/

.bgcolor-primary {background-color:#012442;}
.bgcolor-secondary {background-color:#ff000e;}
.bgcolor-tertiary {background-color:#00688d;}

.txtcolor-primary {color:#012442;}
.txtcolor-secondary {color:#ff000e;}
.txtcolor-tertiary {color:#00688d;}
.txtcolor-body {color:#898989;}

a {color:#ff000e;}

h1 {color:#00688d;}
h2 {color:#fff;}
h3 {color:#ff000e;}

/*******************************************************************************
GENERAL STYLES
*******************************************************************************/
.row { width:100%; position:relative; float:left; padding:0 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.rowInner { width:100%; max-width:1090px; margin:0 auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.field {width:100%; margin:0 0 10px 0; padding:9px 10px 10px; background:#fff; font-family: 'Roboto', sans-serif; font-size:14px; color:#666; border:1px solid #e1e1e1; border-radius:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-style:italic;}

.submit {-webkit-appearance:none; border-radius:0; border:none; padding:9px 10px 10px; text-align:left; font-family:'Roboto Slab', serif; font-size:14px; line-height:16px; color:#fff; width:100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight:400; letter-spacing:3px;}

/*Validation*/
.parsley-error-list {display:none !important;}
.parsley-error {text-decoration:blink; border:2px solid #F00 !important;outline:none;}

.noPosts {text-align: center;border: 1px solid red;background: #fcc;padding:10px;}
.noPostsMessage {color:red !important; font-size:12px;margin:0; line-height:14px;}


/*******************************************************************************
TOP ROW
*******************************************************************************/
#topRow { background:center top no-repeat;
  .rowInner { padding:20px 0 25px;}
}

#logo {float:left; height:70px;
  img {display:block; height:auto; width:auto; max-width:210px; max-height:70px;}
}

#socnet {float:right; margin:25px 0 0 0;
  a { margin:0 0 0 25px; font-size:26px;}
  a:first-child { margin:0;}
}


/*******************************************************************************
BANNER ROW
*******************************************************************************/
#bannerRow { background:#fff; padding:0;
  .rowInner {max-width:1145px; min-height:5px;}
}

#slideshow {position:relative;}

.slideControl { position:absolute; font-size:18px; color:rgba(0, 0, 0, .8); border:1px solid rgba(0, 0, 0, .8); top:50%; margin:-20px 0 0 0; z-index:99999; width:38px; height:38px; text-align:center; line-height:38px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; cursor:pointer }
.cycle-prev { left:25px;}
.cycle-next { right:25px;}

.slide { position:relative; color:#fff; width:100%;
  img {width:100%; height:auto; display:block;}
  .content {position:absolute; top:18.5%; left:9.5%; background:rgba(0, 0, 0, .4); border:1px solid #000; padding:30px 35px; width:45%; max-width:400px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; transition: all 0.33s ease 0s;}
  .content h2 {color:#fff; border-bottom:1px solid #000; padding:0 0 15px 0; margin:0 0 15px 0;}
}

/*******************************************************************************
NAV ROW
*******************************************************************************/
#navRow { padding:0;
  .rowInner {max-width:1145px;}
}

#nav {list-style-type:none;

  li { float:left; padding:28px 0; position:relative; }
  li.current-menu-item:after { position:absolute; content:""; width:13px; height:9px; background:url(../images/nav-pointer.png) center bottom no-repeat ; bottom:0; left:50%; margin:0 0 0 -7px; z-index:8;}
  li:last-child a {border:none;}
  li:hover ul {display: block;}

  li a {display:block; padding:0 25px; height:23px; line-height:23px; color:#fff; font-family: 'Roboto Slab', serif; font-size:18px; border-right:1px solid rgba(255, 255, 255, .3); font-weight:300; letter-spacing:6px; text-transform:uppercase; line-height: 30px;}
  li.navDonate {float:right; padding:26px 0;
    a {font-weight:400; border:none;}
    a i {font-size:38px; margin: 0 0 0 15px; float:right; height:28px; display: inline-block; line-height: 28px;}
  }

  li ul {display:none;position: absolute; list-style-type: none; z-index: 9; min-width: 100%;
    li:first-child {border-top: 1px solid #fff;padding-top: 14px;margin-top: 20px;}
    li {width: 100%;padding: 7px 0;}
    li a {height: auto;}
  }

  ul li ul {max-width: 100%;}
}


/*******************************************************************************
CONTENT ROW
*******************************************************************************/
#contentRow {background:#fff;
  .rowInner {padding:60px 0;}
}

#content {float:left; width:100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.hasSidebar  #content {padding:0 7% 0 0;}

#content ul, #content ol {padding: 0 20px; margin-bottom: 14px;}

.mainPic {margin:0 0 25px 0;
  img { width:100%; height:auto; display:block;}
}

.post {border-bottom:1px solid #e1e1e1; padding:0 0 5px 0; margin:0 0 50px 0;}
.postImage  {float:left; max-width:160px; width:33%; max-height:160px; margin:0 25px 5px 0; overflow:hidden;}
.postImage img {width:100%; height:auto; display:block;}
.postContent {}
.post .eventDate {margin-bottom:16px;}
.single .post .eventDate {margin-bottom: 8px;border-bottom: 1px solid #e1e1e1;padding-bottom: 8px;}
.postFooter {width:100%; margin:0;}
.postDate {float:left; max-width:160px; width:33%; margin:0 25px 10px 0; color:#b7b7b7; font-size:12px; font-style:italic; padding-top:12px;}
.postTags { float:left; list-style:none;
  li { margin:0 7px 7px 0; float:left}
  li a {color:#fff; padding:6px 8px; display:block; font-size:12px; font-style:italic;}
}

#loadMore {text-align:center; font-size:18px; color:#999; font-weight:300; margin:30px 0 0 0;
  .loadPrev {float:left;}
  .loadNext {float:right;}
}


/*******************************************************************************
SIDEBAR
*******************************************************************************/

#contentRow .rowInner.hasSidebar { margin:60px auto; padding:0 345px 0 0; background: url(../images/bg-sidebar_vert_rule.png)right top repeat-y}

#sidebar {float:right; margin:0 -345px 0 0; width:315px;}
.sideItem {border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; margin:0 0 4px 0;
  .events {border-bottom:none; padding-bottom:0;padding-top:30px;}
  .events h1 { margin-bottom:0;}
  .events .event {border-bottom:1px solid #e1e1e1; padding:25px  0 15px 0;}
  .events .event:last-child {border-bottom:none;}
  .events .eventDate { color:#b7b7b7; font-size:18px; font-style:italic; margin-bottom:8px;}

  .socWidget {width:100%;padding:30px 0;}
  .socWidget iframe {margin:-10px 0 0 -10px;}
  .socWidget iframe, .sideItem.socWidget iframe * {width:100% !important;}

  .searchItem {padding:30px 0;}
  .searchItem .field {width:88%; float:left;}
  .searchItem .submit {width:12%; height:40px; font-family: FontAwesome; color:#fff; font-size:18px; text-align:center; float:left; border:none; background:#b3b3b3;}

  .listItem {padding:30px 0;
    ul {list-style:none;}
    ul li { display:inline-block; padding:0 10px 5px 0; width:49%; max-width:100px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size:12px; }
    ul li a { padding:2px 0; display:block;}
  }

  .formItem {padding:30px 0;}
  form {position:relative;}
}
.sideItem:first-child {border-top:none; padding-top:0; margin-top:0;}
.sideItem:first-child div:first-child {padding-top:0;}
.sideItem:last-child {border-bottom:none; padding-bottom:0; margin-bottom:0;}


/*******************************************************************************
FOOTER ROW
*******************************************************************************/
#footerRow {background:#fff;}
#footerRow .rowInner {padding:40px 0; text-align:center; opacity: 0.4;}

#footerNav {list-style:none; text-align:center;}
#footerNav li {padding:10px 0; position:relative; display:inline-block; vertical-align: middle;}
#footerNav li img {max-width: 200px; width: 100%; height: auto;}
#footerNav li:first-child { padding:0;}
#footerNav li a {text-transform:uppercase; display:block; padding:0 23px; min-height:23px; line-height:23px; color:#fff; font-family: 'Roboto Slab', serif; font-size:14px; border-right:1px solid rgba(255, 255, 255, .3); font-weight:300; letter-spacing:4px}
#footerNav li:first-child a {border:none;}
#footerNav li:last-child a {border:none;}

#footerSocnet {margin:40px 0 20px 0; text-align:center;}
#footerSocnet a { margin:0 15px; font-size:26px; color:#fff;}

#paidfor { text-align:center; margin-bottom:5px; opacity: 0.5;}
#paidfor span {border:1px solid #fff; font-size:11px; text-transform:uppercase; padding:5px 10px; color:#fff;}

/*******************************************************************************
SPINNER
*******************************************************************************/
.spinner {  width: 100%;height: 30px;text-align: center;font-size: 10px;position: absolute;left:0;top:50%;margin-top:-15px; display:none;z-index:999;}
.spinner > div {  height: 100%;  width: 6px;  display: inline-block;    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;  animation: stretchdelay 1.2s infinite ease-in-out;}

.spinner .rect2 {  -webkit-animation-delay: -1.1s;  animation-delay: -1.1s;}
.spinner .rect3 {  -webkit-animation-delay: -1.0s;  animation-delay: -1.0s;}
.spinner .rect4 {  -webkit-animation-delay: -0.9s;  animation-delay: -0.9s;}
.spinner .rect5 {  -webkit-animation-delay: -0.8s;  animation-delay: -0.8s;}

@-webkit-keyframes stretchdelay {  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }    20% { -webkit-transform: scaleY(1.0) }}
@keyframes stretchdelay { 0%, 40%, 100% {     transform: scaleY(0.4);    -webkit-transform: scaleY(0.4);  }  20% {     transform: scaleY(1.0);    -webkit-transform: scaleY(1.0);  }}






