@charset "UTF-8";
/* CSS Document */

@media only screen
and (max-width : 1080px)
{
  /*BANNER ROW*/
  #bannerRow h2 { font-size:24px; line-height:28px; padding:0 0 10px 0; margin:0 0 10px 0;}
  .slide .content {font-size:12px; line-height:18px;}

  /*NAV ROW*/
  #nav li a {padding:0 21px; letter-spacing:4px; transition: all 0.33s ease 0s;}
}

@media only screen
and (max-width : 960px)
{
  /*BANNER ROW*/
  .slide .content {padding:20px 25px;}

  /*NAV ROW*/
  #nav {text-align:center;}

  #nav li.navDonate {float:right; padding:24px 0; width:100%; }
  #nav li.navDonate a {font-size:24px;}
  #nav li.navDonate a i {float:none; vertical-align:middle; margin:-16px 0 0 15px;}

  #nav li { float:none; position:relative; display:inline-block;}
}

@media only screen
and (max-width : 768px)
{

  /*BANNER ROW*/
  #bannerRow h2 {max-height:56px; overflow:hidden}
  .slide .content {top:15%;}
  .slide .content span {max-height:71px; overflow:hidden; display:block;}

  /*FOOTER ROW*/
  .footLogo {width:100%;}

  /*CONTENT ROW*/
  .hasSidebar { padding-right:0 !important; background-image:none !important;}
  #sidebar {margin-right:0 ; width:100%; padding-bottom:10px; margin-bottom:30px;}

  .homeSidebar .sideItem.socWidget {display:none;}

  .subSidebar .sideItem.socWidget {display:none;}
  .subSidebar .sideItem.events {display:none;}

  .newsSidebar .sideItem.listItem {float:left; width:48%; padding:0 2% 0 0; padding-bottom:20px}
  .newsSidebar .sideItem.listItem h1 { font-size:24px; line-height:28px; margin:15px 0;}
  .newsSidebar .sideItem.listItem li {max-width:90px;}
  .newsSidebar .sideItem.signup {display:none;}
  .newsSidebar .sideItem.socWidget {display:none;}

  .hasSidebar #content { padding:0; }
}

@media only screen
and (max-width : 720px)
{
  .row {padding:0 4%;}

  /*BANNER ROW*/
  .slide .content { display:none;}

  /*NAV ROW*/
  #nav li a {padding:0 18px; letter-spacing:2px; font-size:16px; transition: all 0.33s ease 0s;}

  /*FOOTER ROW*/
  #footerNav li a {padding:0 10px; border-right:none; }

}

@media only screen
and (max-width : 640px)
{
  /*NAV ROW*/
  #nav li a {padding:0 10px; letter-spacing:2px; font-size:15px; transition: all 0.33s ease 0s;}

}

@media only screen
and (max-width : 480px)
{

  h1 { font-size:36px; line-height:40px;}

  /*TOP ROW*/
  #topRow .rowInner {padding:20px 0 5px 0;}
  #logo {float:none; text-align:center;}
  #logo img {display:inline-block;}
  #socnet {float:none; text-align:center; margin:15px 0 0;}

  /*NAV ROW*/
  #nav li.navHome {}
  #nav li {padding:7px 5px; }
  #nav li a {border:none; padding:5px 15px;}
  #nav li.active:after { background:none;}

  #nav li ul {  top: 80%;}

  /*CONTENT ROW*/
  .post .postImage {margin:0 0 10px 0; width:100%; max-width:none; max-height:none;}

  .newsSidebar .sideItem.listItem {width:100%;}
}

@media only screen
and (min-width : 680px)
and (max-width : 800px)
{

}

